body{
	background-image: url("../img/background.jpg");
	background-size: cover;
}

h1{
	margin-top: -47px;
}
#button{
	height: 10%;
    margin-left: -54%;
    background-color: rgba(255,87,34,0.6);
    margin-top: 18%;
    margin-right: -31px;
    border: none;
}

.Inverse{
	font-size: 127%;
}
.style_radius{

	border-radius: 5px;
}
.contenair{

	display: inline-flex;
	padding-left: 34%;
}

.signe{

	padding-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
}

.separation{
	clear: both;
    position: absolute;
    margin-top: -19px;
    margin-left: 371px;
    width: 13px;
    background: black;
}
.info{
	background-color: rgba(255,255,255, 1);
	border-radius: 23px;
	text-align: justify;
	width: 70%;
    margin-left: 17%;
}
.souligne{
    text-decoration: underline;
    font-size: 164%;
}

.zBarre{
	text-decoration: overline;
}
.result{
	background-color: white;
	padding: 10px;
}
#Error{
	text-align: center;
	width: 50%;
    margin-left: 27%;
}
#position{
	margin-left: 28%;
}
#position2{
	margin-left: 12%;
}
#Well{
	width: 25%;
	background-color: rgba(255, 87, 34, 0.45);
	@-webkit-keyframes mymove 
	{
    from {background-color: red;}
    to {background-color: blue;} 
}
